<div class="home-callout container-fluid">
  <div class="head">
    
      <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      
      <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="\Users\1\Downloads\IMG_6586.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
     <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
     <div class="card" style="width: 18rem;">
        <img src="https://photos.offerup.com/B0CGAmbnEZjVgWE7_ifiuO_NrCo=/300x225/7796/77965fef5fe848b2ba5d88dd2b6ff96b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="https://drive.google.com/file/d/0B5T6CuA87vt7U01pQ21TdzhRTU1pYzBuUUwxQlRJN3hIOENv/view?usp=drivesdk" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
        <div class="item">6</div>
        </div>
</div> 