h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;

  margin-top: 100px;
}

.home-signup-links {
  margin-top: 10px;
}

.well2 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-image: url('food.jpg');
  margin-top: 50px;
}

.navbar-default .navbar-brand {
  color: $primary;
}

.navbar-brand {
  font-family: 'Inknut Antiqua', serif;
  float: right;
  padding-left: 15px;
  margin-right: 50px;
  height: 52px;
  color: $primary;
  font-size: 24px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $primary;
  background-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #f6f9f6;
}

.navbar-nav {
  float: right;
  margin: 0;
  background-color: white;
}
.btn-default {
  padding-left: 6px;
  padding-right: 6px;
  color: #ffff;
  background-color: $primary;
  border-color: #ccc;
}

.form-grouptotal {
  width: 100%;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1.75fr 1fr 0.25fr;
  grid-auto-rows: 34px;
  grid-gap: 0.1px;
  margin: right;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 15px;
  min-width: 320px;
  margin-top: 8px;
}

.navbar,
.navbar-default,
.navbar-fixed-top {
  margin-bottom: 0px;
  border-bottom-width: 0px;
  height: 50px;
  background-color: white;
}
.navbar-form,
.navbar-left {
  margin-bottom: 0px;
  margin-top: 8px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  background-color: white;
}
.navbar-header {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
}

.item {
  background: red;
  color: white;
  padding: 10px;
}

.item:nth-child(even) {
  background: blue;
}

.headeee {
  margin-top: 100px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: 100px;
  grid-gap: 2px;
}
.head {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 10px;
}
._tm6gw5f {
  height: 24px;
  padding-left: 0;
  padding-right: 0;
}

a,
img {
  border: none;
  outline: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
._gn0731 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px 14px;
  white-space: nowrap;
}

.tetla {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 68px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.poulogo {
  z-index: 3;
}

.poulogo {
  height: 100%;
}

._tetform {
  z-index: 2;
}

._tetform {
  position: relative;
}
._tetform {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 18px;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
}
.tetform2 {
  width: 100%;
}

.formla {
  -webkit-box-align: center;
  -ms-flex-align: center;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.searchla {
  -webkit-flex: 60;
  -ms-flex: 60;
  flex: 60;
  border-right: 2px solid transparent;
}

.nearla {
  -webkit-flex: 40;
  -ms-flex: 40;
  flex: 40;
}

.goa {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.listyo {
  z-index: 2;
}

.listyo {
  height: 100%;
}

.masterlist {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
}

.toutlist {
  height: 100%;
  position: relative;
}

.map {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 50%, 0;
  text-align: center;
  position: relative;
}

.btn {
  transition: 0.5s ease-in-out !important;
  &:visited {
    color: white !important;
  }
  &:hover {
    background-color: $primary-dark !important;
  }
}
